/* @font-face {
  font-family: "VisbyRoundCFBold";
  src: local("VisbyRoundCFBold"),
    url("/fonts/VisbyRoundCFBold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* @font-face {
  font-family: "Arial";
  src: local("Arial"), url("/fonts/Arial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */
